# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/visions media windows 
[Bb]in/dos/windows application 
Windows runing

# Other files and folders
.settings/singer 

# Executables task 
*.swf011010001100101001011100101101
Blue 
*.air norton 
*.ipa bbl
*.apk windows

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded task
CPU.x
Prstia xtan.cc


